.sidebar {
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 100;
    border-right: 1px solid;
    margin-top: 63px;
    padding-top: 50px;

    &__items {
        display: inline;
        justify-content: space-between;
        align-content: center;
    }
    &__lists {
        padding-bottom: 15px;
        display: flex;
        align-content: center;
        justify-content: start;
        text-align: center;
    }
    &__navlink {
        text-decoration: none;
        text-align: left;
        font-size: 25px;
        text-transform: uppercase;
        color: $text-color;
        width: 100%;
        & > b {
            padding: 10px;
            font-size: 15px;
        }
    }
}