.signup {
    @include flexCenter;
    padding: 70px;
    @include responsive(765px) {
        display: grid;
    }
    
    &__img {
        width: 70%;
        @include responsive(765px) {
            width: initial;
        }
    }

    &__h1 {
        text-align: center;
        border-bottom: 2px solid;
        padding: 10px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__p {
        text-align: center;
        align-content: center;
        font-weight: 500;
        margin-bottom: 10px;
        &__link {
            color: $primary;
        }
    }
    &__data {
        padding: 5px;
        display: grid;
    }
    &__label {
        align-content: flex-start;
        padding: 5px;
    }
    &__input {
        padding: 10px 20px;
        font-size: medium;
        opacity: 1;
        flex-grow: 1;
        outline: none;
        font-weight: 400;
    }
    &__checkbox {
        padding: 10px;
        margin-top: 5px;
        &__label {
            padding: 5px;
        }
    }
    &__btn {
        margin: 30px 0;
        padding: 10px;
        align-content: flex-start;
        bottom: 0;
        &__link {
            color: $primary;
        }
        &__l {
            padding: 10px 20px;
            width: 100%;
            text-align: center;
            color: $white;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
            background-color: $dark;
            border: none;
        }
        &__g {
            margin-top: 10px;
            padding: 10px 20px;
            width: 100%;
            color: $text-color;
            font-weight: 600;
            display: flex;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
        }
    }
    &__span {
        text-align: center;
        // position: absolute;
        // z-index: 200;
        // right: 0;
        // top: 0;
        // margin-top: 30px;
        // transition-delay: 5s;
        // border-radius: 10px;
        &__orror {
            // background-color: $danger;
            // color: $white;
            // padding: 10px;
            color: $danger;
        }
        &__success {
            // background-color: $success;
            // color: $white;
            // padding: 10px;
            color: $success;
        }

    }
   
}