$white: white;
$black: #000;
$dark: #2a3b47;
$darker: #232323;
$gray: #7a7a7a;
$primary: #5361FF;
$secondary: #f39d72;
$success: #4cbb6c;
$warning: #ff9a52;
$danger: #ff4c4c;
$text-color: #697477;
$columns: 12;