* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: #697477;
}


h1,h2,p{
    margin: 0;  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.active {
    border-bottom: 3px solid !important;
    @media (max-width: 768px) {
        background-color: #fff !important;
    }
    // background-color: rgb(252, 244, 244) !important;
}